{% if (informations) %} 
<h3 class="box-heading">{{ text_information }}</h3>
<ul class="box-content list-unstyled" data-match-height="items-f">
	{% for information in informations %} 
	<li><a href="{{ information['href'] }}">{{ information['title'] }}</a></li>
	{% endfor %}
</ul>
{% endif %}